.about__left{
	float: left;

}
/*.about__title{
	font-family: 'fira_sansmedium';
	font-size: 35px;
	line-height: 38px; 
	color: #414141;   
    font-weight: normal;
}*/
.about-photo{
	width: 220px;
	height: 220px;
	border-radius: 50%;
	border: 5px solid #fff;
	overflow: hidden;
}
.big-photo{
	display: block;
	width: 100%;	
}
.about-text{
	overflow: auto;	
	font-size: 18px;
	height: 333px;
	margin-bottom: 60px;
	color: #646464;
}

.about__right{
	float: right;
	width: 57%;
}

.download-btn{	
	text-decoration: none;
	font-size: 14px;
	display: inline-block;
	font-family: 'fira_sansbold';
	color: $red;
	padding: 10px 12px;
	border: 2px solid $red;
	border-radius: 40px;
	&:hover{
		background-color: $red;
		color: white;
	}
}
.about__download{
	text-align: right;
}

.btn-white{
	 @extend .download-btn;
	 color:white;
	 border: 2px solid white;
	 &:hover{
	 	background-color: white;
		color: $blue;
	 }
}
