
.wrapper__auth{
	min-width: 320px;
	position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;	
	text-align: center;    
	background: url(bg/geometry2.png);
    &:before{
       height: 100%;
       display: inline-block;
       vertical-align: middle;
       content: ""; 
    }
}
.auth{
	display: inline-block;
    vertical-align: middle;
    border-radius: 7px 7px 7px 7px;
    box-shadow: 1px 0 3px rgba(0,0,0,.2);    
}
.auth__top{
	border-radius: 7px 7px 0 0;
    background: #fff;
    padding: 80px 60px 20px 60px;
    font-size: 21px;
    position: relative;      
}
.auth__photo{
	background-image: url(content/photo1.jpg);
	border-radius: 50%;
    width: 140px;
    height: 140px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: -70px;
    left: 50%;
    margin-left: -70px;
}




.auth__bottom{
	background: $blue;
    padding: 20px 0;    
    border-radius: 0 0 7px 7px;
}

