
.wrapper__auth{
	min-width: 320px;
	position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;	
	text-align: center;
	background: url(bg/geometry2.png);
}
.auth{
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	height: 300px;
	margin: auto;
	display: inline-block;
    vertical-align: middle;
    width: 300px;
}
.auth__top{
	border-radius: 7px 7px 0 0;
    background: #fff;
    padding: 80px 60px 20px 60px;
    font-size: 21px;
    position: relative;
    margin-top: 70px;
}
.auth__photo{
	background-image: url(content/photo1.jpg);
	border-radius: 50%;
    width: 140px;
    height: 140px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: -70px;
    left: 50%;
    margin-left: -70px;
}




.auth__bottom{
	background: $blue;
    padding: 20px 0;
    border-radius: 0 0 7px 7px;
}

