.header__left{
	width: 50%;
	float: left;
}
.user{
	margin-top: 10px;
}
.user-photo{
	width: 60px;
	height:60px;
	display: inline-block;
	vertical-align: middle;
	border: 1px solid #c5c5c5;
	border-radius: 50%;
	overflow: hidden;
	
}
.photo{
	display: block;
	max-width: 100%;	
}
.user-name{
	display: inline-block;
	vertical-align: middle;
	max-width: 250px;
    font-size: 18px;
    margin-left: 15px;
}

.header__right{	
	float: right;
	text-align: right;
}
.header-contacts{
	margin-top: 30px;

	position: relative;

}
.contacts-show{
	font-size: 18px;
	text-decoration: none;
	color: #33c1e3;
	padding-bottom: 5px;
	background: url(../decor/dotted.png)  bottom repeat-x;
}
.header-contacts:hover .contacts-show{
	color: #e85f61;
	background: url(../decor/dotted_hover.png)  bottom repeat-x;
}
.header-contacts:hover .contacts__block{
	display: block;
}

.contacts__block{
	display: none;
	position: absolute;
	right: -55px;
    	top: 32px;
	padding: 15px;
	border:1px solid #dedede;
	background: #fff;
	border-radius: 10px;
	z-index: 3;
}
.contacts__block:before{
	content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 30px;
    top: -28px;
}

.contacts__item{
	margin-bottom: 10px;
}
.contacts__item:last-child{
	margin-bottom: 0;
}
.contacts__link{
	display: block;
	text-decoration: none;
	color: #414141;
	font-family: "fira_sanslight";
	font-size: 18px;
	text-align: left;	
}
i.contacts__link-icon {
display:inline;
}
.contacts__link-icon{
	margin-right: 15px;
	color:#33c1e3;	
}
