/*.portfolio__title{
	font-family: 'fira_sansmedium';
	font-size: 35px;
	line-height: 38px;
	color: #414141;
	margin-bottom: 16px;    
    font-weight: normal;
}
*/
.portfolio__link{
	text-decoration: none;
}
.portfolio__item{
	display: inline-block;
	width: 220px;
	vertical-align: top;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
	margin: 0 12px 12px 0 ;
}


.portfolio__item:hover  .discription-title{
	color:#e85f61;
}

.portfolio__pic{
	width: 220px;
	height: 175px;	
	background-size: cover;
	background-position: center;
}

.portfolio__item:nth-child(1) .portfolio__pic{
	background-image: url(../content/Deals_app.jpg);
}
.portfolio__item:nth-child(2) .portfolio__pic{
	background-image: url(../content/Lufthansa.jpg);
}
.portfolio__item:nth-child(3) .portfolio__pic{
	background-image: url(../content/Creative_studio.jpg);
}
.portfolio__item:nth-child(4) .portfolio__pic{
	background-image: url(../content/studio_frog.jpg);
}
.portfolio__item:nth-child(5) .portfolio__pic{
	background-image: url(../content/carbonara.jpg);
}

.portfolio__discription{
	background: #fff;
    padding: 20px;
}

.discription-title{
	font-size: 21px;
	margin: 0;
	color:#33c1e3;
}
.discription-text{
	font-family: "fira_sanslight";
	font-size: 14px;
    margin: -5px 0 9px 0;
	line-height: 1.5;
	color:#414141;
}
.discription-type{
	font-family: "fira_sansbold";
	font-size: 14px;
	margin: 0;
	color: #aeaeae;
}

.discription-type i{
	font-size: 18px;
	margin-right: 6px;
}