@media screen and (max-width: 768px) {
.container {
	width: 480px;
	padding: 0px 20px;
	box-sizing: border-box;
}	

.contacts-show{
	background: url(icons/phone.png) 0 0 no-repeat;
	display: inline-block;
	text-indent: 99999px;
	white-space: nowrap;
    width: 32px;
    height: 32px;		
}
.header-contacts{
	margin-top: 20px;
	&:hover .contacts-show{	
		background: url(icons/phone-hover.png) 0 0 no-repeat;
	}
}
	
.contacts__block{
	right: 0px;
   	top: 40px;
}

.nav__link{
	border-right: none;
	padding-right: 20px;
}

.about *{
	display: inline-block;
	text-align: center;
}

.about-text{
	overflow: visible;
	& p{
		text-align: left;		
	}
}	 
	
.about__right, .about__left{
	float: none;
	width: 100%;
}

.main__title{
	text-align: center;
}
.career__left,
.career__right{
	float: none;
	text-align: center;
}
.career__left{
	margin-bottom: 20px;
}
.career__pic{
	display: inline-block;
}

.career__year{
	display: none;	
}
.career__block:after{
		display: none;
}
.portfolio__item{
	width: 47%;
	margin-right: 2%;
}

.footer{
	height: 100px;
	&__left, &__right{
		float: none;
		width: 100%;
		text-align: center;
	}
}
.footer__socials-list{
	text-align: center;
}
}