@font-face {
  font-family: 'icomoon';  
  src:  url('fonts/icomoon/icomoon.ttf?ygkcn9') format('truetype'),
        url('fonts/icomoon/icomoon.woff?ygkcn9') format('woff');    
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-desktop:before {
  content: "\e900";
}
.icon-mobile:before {
  content: "\e901";
}
.icon-mobile-phone:before {
  content: "\e901";
}
.icon-download:before {
  content: "\e902";
}
.icon-envelope:before {
  content: "\e903";
}
.icon-phone:before {
  content: "\e904";
}
.icon-skype:before {
  content: "\e905";
}
.icon-briefcase:before {
  content: "\e906";
}
.icon-rocket:before {
  content: "\e907";
}
.icon-user-secret:before {
  content: "\e908";
}

